body
{
    background-color: black;
}

#border1
{
    
    text-align: center;
    height: 200px;
    width: 200px;
    border: 40px inset indigo;
    border-radius: 50px;

}
#border2
{
    margin-bottom: 20%;
    margin-right: 10%;
    height: 180px;
    width: 180px;
    border: 10px inset white;
    border-radius: 10px;
    background-color: indigo;
}
#border3
{
    height: 70px;
    width: 70px;
    margin: 20%;
    margin-top: 38px;
    border: 18px inset white;
    border-radius: 50%;
    background-color: indigo;
}
#border4
{
    height: 5px;
    width: 5x;
    margin-top: -50px;
    margin-left: 101px;
    border: 10px inset white;
    border-radius: 50%;
    background-color: indigo;
}